*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(6, 87, 76);
    color: white;
    line-height: 5rem;
    height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 3rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: rgb(6, 13, 87);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}